# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Force binary files
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.woff binary
*.woff2 binary
